doctype html
html
  head 
    link(rel='stylesheet' href='/stylesheets/style.css' type='text/css')
  body
    block content
    button(id='download') Download file
    button(id='share') Share
    textarea(id='notepad' name='notepad')
  script(src='/javascripts/client.js')
