body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

button#download {
  background-color: white;
  color: black;
  font-size: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  position: fixed;
  left: 10px; top: 10px;
  outline: auto;
}

button#collaborate {
  background-color: white;
  color: black;
  font-size: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  position: fixed;
  left: 170px; top: 10px;
  outline: auto;
}

button#transcribe {
  background-color: white;
  color: black;
  font-size: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  position: fixed;
  left: calc(100vw - 160px); top: 10px;
  outline: auto;
}
