@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button#download {
  background-color: white;
  color: black;
  font-size: 20px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  position: fixed;
  left: 10px; top: 10px;
  outline: auto;
}


textarea {
  position: fixed;
  left: 10px; top: 70px;
  width: calc(100vw - 20px); /* vw - view width */
  height: calc(100vh - 80px); /* vh - view height */
  resize: none;
  outline: auto;
}
